* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.navigate {
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
  justify-content: center;
  font-size: 30px;

}
.name{
  font-family: "Open Sans", sans-serif;
}
.text{
  font-family: "Montserrat", sans-serif;
color: goldenrod;
}
.header{
  background-image: url(/Header-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
.navbar {
  gap: 80px;
  list-style: none;
  justify-content: center;
  display: flex;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  left: 0;
  padding: 1rem;
}
.container {
  height: 100%;

}
.navbar__link{
  font-weight:550 ;
}
.navbar__item {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
.container {
  max-width: 1350px;
  margin: 0 auto;
}
.text1 {
  max-width: 500px;
}
.text3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  text-align: justify;
  padding: 115px 0;
}

.aboutme {
  font-family: "Open Sans", sans-serif;
  font-weight: 300px;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.second {
  max-width: 500px;
  margin-bottom: 230px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: justify;
}
.img {
  height: 410px;
}
.inf {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  margin-bottom: 30px;
}

.block {
  height: 100vh;
}
.port {
  display: flex;
  margin-bottom: 90px;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.portfoli {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio__col {
  padding: 1rem;
}
.work__image {
  display: block;
  max-width: 100%;
  height: auto;

}
.work {
  box-shadow: 0 0 4px fade(#000, 25%);
  transition: 0.9s;
}
.work-content {
  padding: 1rem 0.8rem;
}
.work__cat {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: black;
}
.work__title {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 1.06rem;
  text-transform: uppercase;
  color: black;
}
.work:hover {
  transition: 0.9s;
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: inset 0 0 60px gray, inset 20px 0 80px gray,
    inset -20px 0 80px gray, inset 20px 0 300px #152c41,
    inset -20px 0 300px gray, 0 0 50px gray, -10px 0 80px black,
    10px 0 80px gray;
  font-weight: 1000px;
}
footer {
  margin-top: 190px;
  padding-bottom: 1px;
  background-color: #000;
  color: white;
}
.Vak {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.footer {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.footer li {
  padding: 4px;
  font-family: "Montserrat", sans-serif;
}
.cont {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}
.navbar__item::after {
  content: "";
  transition: 0.5s ease-in-out;
  height: 2px;
  width: 0%;
  background-color: #40665f;
  display: block;
}
.navbar__item:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #152c41;
  display: block;
}
.container1 {
  max-width: 1170px;
  margin: auto;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
  align-items: center;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #40665f;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .text3 {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .text1 {
    max-height: 100%;
  }

  .inf {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .text3 img,
  .inf img {
    max-width: 100vw;
    object-fit: contain;
    max-height: 100%;
    height: auto;
  }
  .port {
    margin-bottom: 0;
  }

  .text3 {
    padding-top: 0;
  }
}

/*responsive footer*/
@media screen and (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}